.DS_Store
scripts/__pycache__/agent.cpython-311.pyc
scripts/__pycache__/segmentation_agent.cpython-311.pyc
data/cleaned/cohort_table_cleaned.parquet
data/cleaned/cohort_table_percentage_cleaned.parquet
data/cleaned/online_retail_cleaned.parquet
data/cleaned/rossmann_store_cleaned.parquet
data/cleaned/rossmann_test_cleaned.parquet
data/cleaned/rossmann_train_cleaned.parquet
data/cleaned/uk_rfm_cleaned.parquet
data/processed/cluster_method_comparison.parquet
data/processed/clustering_metrics_comparison.parquet
data/processed/kmeans_cluster_interpretations.parquet
data/processed/uk_rfm_clustered.parquet
data/raw/online_retail_II.xlsx
data/raw/rossmann-store-sales/sample_submission.csv
data/raw/rossmann-store-sales/store.csv
data/raw/rossmann-store-sales/test.csv
data/raw/rossmann-store-sales/train.csv
