numpy>=1.19.5
pandas>=1.3.0
scikit-learn
statsmodels
prophet
pytorch
pytorch-forecasting
transformers
huggingface_hub
langchain
peft
openai
openai-agents
openpyxl
matplotlib
plotly
seaborn
hdbscan
jupyterlab
modal